<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307905285077-f1t3eua2lpctqsvprrcearsfhtdrb95v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307905285077-f1t3eua2lpctqsvprrcearsfhtdrb95v</string>
	<key>API_KEY</key>
	<string>AIzaSyAfeNLIbLmsIlk-2K2BKQl0NG4_6BjWxXU</string>
	<key>GCM_SENDER_ID</key>
	<string>307905285077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sadhun.Firestore-demo</string>
	<key>PROJECT_ID</key>
	<string>test-project-c3b48</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-c3b48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307905285077:ios:2c09c2a2d97b816d73cb5c</string>
</dict>
</plist>